<html>
{% raw %}
<head>
    <meta charset="UTF-8">
    <title>Responseful</title>

    <link rel="stylesheet" href="/static/assets/main.css">
    <script src="http://code.angularjs.org/1.2.14/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.14/angular-route.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/directives.js"></script> 
</head>
<body ng-app="ResponsefulApp">
    <header>
        <h1>Responseful by Thinkful</h1>
    </header>

    <div ng-view></div>

</body>
{% endraw %}
</html>